body{
    margin: 0;
    text-align: center;
}

.header{
    background-color: #1F2937;
    padding: 20px 50px 10px 50px;
}

.container{
    max-width: 809px;
    margin: auto;
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

#header-logo{
    width: 50%;
    color: #F9FAF8;
    size: 24px;
}

.headerLink{
    color: #E5E7EB;
    size: 18px;
}

.hero{

}

.heroText{
    color: #F9FAF8;
    size: 48px;
}

.mainTitle{

}

.subtext{

}

.#signUp{

}

.heroImg{
    
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}