body{
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

h2{
    margin: 0;
}

nav{
    align-self: center;
}

.container{
    margin: 0 50px 0 50px;
}

.navSection{
    display: flex;
    align-items: center;
}

.header{
    background-color: blueviolet;
    padding-top: 20px;
}

.hero {
    display: flex;
    flex: 1;
}

.heroText{
    max-width: 300px;
}

